.App {
  display: flex;
  box-sizing: border-box;

  width: 95vw;
  height: 50vh;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;

  background-color: brown;
  flex-direction: column;

  align-items: end;
}

.Video-Component {
  width: 75%;
  height: 90%;
  background-color: aquamarine;
  margin-bottom: auto;
  margin-right: 2%;

  display: flex;
  flex-direction: column;

  justify-content: start;
}

.Video-Toggle {
  box-sizing: border-box;
  width: 50%;
  height: auto;
  min-height: 40px;
  margin-top: 0px;
  margin-right: auto;
  background: green;
}

/* Starter code sourced from: https://blog.logrocket.com/how-to-build-tab-component-react/  */
/* Tab Navigation */
ul.nav {
  box-sizing: border-box;
  width: 60%;
  display: flex;
  align-items: start;
  @media (max-width: 768px) {
    width: 90%;
  }
}
ul.nav li {
  width: 50%;
  list-style-type: none;
  background-color: lightslategray;
}

/* ul.nav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
} */
ul.nav li:hover {
  background: darkslategray;
}
ul.nav li.active {
  background: #39A2DB;
}
